* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--text-color: #fff;
	--bg-color: #495159;
	--primary-color: #2c20da;
	--light-gray: #adacc0;
	--dark-color: #000;
	--orange-color: #efb20a;
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
	color: var(--text-color);
	overflow-x: hidden;
}

body {
	background: url('./img/background.jpg'), linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100vw;
}

nav {
	width: 100%;
	height: 75px;
	position: fixed;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--primary-color);
	opacity: 0.9;
}

main {
	display: flex;
	justify-content: center;
}

footer {
	width: 100%;
	height: 200px;
	background-color: var(--dark-color);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* .background-img {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
	object-fit: cover;
} */

.navigation-list {
	display: flex;
	justify-content: center;
	list-style: none;
}

.navigation-option {
	font-size: 2rem;
	text-transform: capitalize;
	padding: 0 40px;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.hamburger-menu {
	display: none;
}

.navigation-option:hover {
	transform: scale(1.1);
}

.link {
	color: inherit;
	text-decoration: none;
}

.group-container {
	display: grid;
	grid-template-columns: repeat(2, 500px);
	row-gap: 20px;
	column-gap: 40px;
	margin-top: 150px;
	padding-bottom: 100px;
}

.group {
	margin-top: 20px;
	background-color: var(--bg-color);
	border-radius: 10px;
	box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px, rgba(240, 46, 170, 0.2) 0px 15px,
		rgba(240, 46, 170, 0.1) 0px 20px, rgba(240, 46, 170, 0.05) 0px 25px;
}

.group-list {
	list-style: none;
	padding: 5px 0;
}

.group-title {
	font-size: 2rem;
	text-align: center;
	padding: 15px 0;
	text-transform: uppercase;
}

.legend {
	padding: 10px;
	display: flex;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.group-team {
	display: flex;
	padding: 10px;
	font-size: 1.6rem;
	border-top: 1px solid var(--light-gray);
}

.left-side {
	display: flex;
}

.legend .left-side .team-name {
	text-transform: uppercase;
}

.right-side {
	margin-left: auto;
	display: flex;
	align-items: center;
}

.right-side span {
	display: block;
	text-align: center;
	margin: 0 5px;
	min-width: 20px;
}

.right-side .goal-diff {
	min-width: 25px;
	text-align: center;
}

.rank {
	min-width: 35px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.team-name {
	margin-left: 15px;
	text-transform: capitalize;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}

.club-logo {
	width: 30px;
	height: 30px;
	object-fit: cover;
	margin-right: 10px;
}

.description {
	font-size: 1.8rem;
	text-align: center;
	padding: 20px;
}

.profile-link {
	font-size: 2.2rem;
	margin-top: 20px;
	transition: color 0.3s ease;
}

.profile-link:hover {
	color: var(--orange-color);
}

@media only screen and (max-width: 992px) {
	.navigation-list {
		display: none;
	}

	.hamburger-menu {
		display: block;
		color: var(--text-color);
		font-size: 1.8rem;
		cursor: pointer;
		position: absolute;
		left: 80%;
	}

	.group-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 100px;
	}

	.group {
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
	nav {
		z-index: 2;
	}

	.group {
		transform: scale(0.9);
	}
}
